<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>, someone tossed you a LIFO line!</h1>
    <p>
      Just follow this link: <%= @url %>.
    </p>
    <p>Smooth sailing!</p>
  </body>
</html>