<nav class="d-flex flex-column justify-content-center justify-content-sm-between align-items-center flex-sm-row navbar fixed-top navbar-dark bg-dark">
  <div class='d-flex flex-row justify-content-center'>
    <%= link_to 'LIF', root_path, :class => 'navbar-brand py-0 my-0 px-0 mx-0 text-danger font-weight-bold' %>
    <%= link_to image_tag('favicon.png', :size => '20'), root_path, :class => 'py-0 my-0 px-0 mx-0' %>
  </div>
  <%= render 'login' %>
</nav>